<p id="notice">
	<%= notice %>
</p>

<p>
	<strong>First name:</strong>
	<%= @user.first_name %>
</p>

<p>
	<strong>Last name:</strong>
	<%= @user.last_name %>
</p>

<p>
	<strong>Profile picture:</strong>
	<%= @user.profile_picture %>
</p>

<p>
	<strong>Education:</strong>
	<%= @user.education %>
</p>

<p>
	<strong>Birthday:</strong>
	<%= @user.birthday %>
</p>

<p>
	<strong>Location:</strong>
	<%= @user.location %>
</p>

<h2>Friends</h2>
<ul>
	<% for user in @user.friends %>
	<li>
		<%= h user.first_name %>
		(<%= link_to "show", friendship, :method => :show %>)
	</li>
	<% end %>
</ul>

<h2>People you may know</h2>
<ul>
	<% for user in @non_friends %>
	<li>
		<%= h user.first_name %>
        (<%= link_to "create", friendship_path(@user, :query => { friend_id: => user.id}), :method => :post %>)
	</li>
	<% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
