<p id="notice">
	<%= notice %>
</p>

<p>
	<strong>First name:</strong>
	<%= @user.first_name %>
</p>

<p>
	<strong>Last name:</strong>
	<%= @user.last_name %>
</p>

<p>
	<strong>Profile picture:</strong>
	<%= @user.profile_picture %>
</p>

<p>
	<strong>Education:</strong>
	<%= @user.education %>
</p>

<p>
	<strong>Birthday:</strong>
	<%= @user.birthday %>
</p>

<p>
	<strong>Location:</strong>
	<%= @user.location %>
</p>

<p>
	<strong>Friends:</strong>
	<% @friendships.each do |friend| %>
	<tr>
		<td><%= friend.user_id %></td>
		<td><%= friend.friend_id %></td>
	</tr>
	<% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
